---
layout: base
class: home
---

<ul class="home-projects">
    {% for p in collections.featuredProjects %}
    <li class="home-project slide">
        <div class="hero-image">
            {% if p.data.featured_image %}
            <img class='media-item-media landscape' src="{{p.data.featured_image.landscape }}?nf_resize=fit&w=1600" />
            <img class='media-item-media portrait' src="{{p.data.featured_image.portrait }}?nf_resize=fit&w=1200" />
            {% else %}
            <img class='media-item-media' src="{{p.data.media[0].url }}?nf_resize=fit&w=1600"
                alt="{{p.data.media[0].alt | replace: '"', "'"}}" />
            {% endif %}
        </div>
        <div class="home-caption">
            <h2>
                <a href="/projects#{{p.data.title | slug}}">{{p.data.title}}</a>
                <span>
                    {{p.data.subtitle}}
                </span>
            </h2>
        </div>
    </li>
    {% endfor %}
</ul>