---
layout: base
class: home
---

<ul class="home-projects">
    {% for p in collections.featuredProjects %}
    <li class="home-project slide">
        <div class="hero-image">
            <img class='media-item-media landscape' src="{{p.data.featured_landscape | resize: 1500 }}" alt="" />
            <img class='media-item-media portrait' src="{{p.data.featured_portrait | resize: 1500 }}" alt="" />
        </div>
        <div class="home-caption">
            <h2>
                <a href="/projects#{{p.data.title | slug}}">{{p.data.title}}</a>
                <span>
                    {{p.data.subtitle}}
                </span>
            </h2>
        </div>
    </li>
    {% endfor %}
</ul>