---
layout: base
class: home
---

<ul class="home-projects">
    {% assign p = collections.project[0] %}
    <li class="home-project">
        <img src="{{p.data.media[0].url}}" alt="{{p.data.media[0].alt}}">
        <div class="home-caption">
            <h2>
                {{p.data.title}} <span>
                    – {{p.data.subtitle}}
                </span>
            </h2>
            <a href="{{p.link}}">Read more</a>
        </div>
    </li>
</ul>