---
layout: base
class: information
title: Information
---

<article class="information-copy">
    {{about.content | renderMarkdown }}
</article>
<aside class="information-clients">
    {% for w in about.sidebar_a %}
    <section>
        <h3>{{w.title}}</h3>
        <div>
            {{w.text | renderMarkdown}}
        </div>
    </section>
    {% endfor %}
</aside>
<aside class="information-blocks">
    {% for w in about.widgets %}
    <section>
        <h3>{{w.title}}</h3>
        <div>
            {{w.text | renderMarkdown}}
        </div>
    </section>
    {% endfor %}
</aside>