<!doctype html>
<html lang="en">

<head>
  {% include meta.liquid %}
  <link rel="shortcut icon" href='{{"/assets/favicon.ico" | url }}'>
  <link rel="stylesheet" href=" {{'/css/style.css' | url}}">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body class='{{class}}'>
  <header class="site-header">
    <nav class='site-nav'>
      {% if settings.show_archive %}
      <a href="/projects/">Projects</a>
      {% endif %}
      <a href="/">
        <h1 class="site-title">
          {{settings.site_title}}
        </h1>
      </a>
      <a href="/information/">Information</a>
    </nav>
  </header>
  {{ content | safe }}
  <footer class="site-footer">
    <nav class="footer-nav-secondary">
      {{settings.copyright_text}}
    </nav>
  </footer>
  <div class="lightbox-container">
    <div class="media-container"></div>
    <p class="lightbox-caption"></p>
  </div>
  <script src="{{'/dist/dist.js' | url}}"></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>