<!doctype html>
<html lang="en">

<head>
  {% include "meta.liquid" %}
  <link rel="shortcut icon" href='{{"/assets/favicon.ico" | url }}'>
  <link rel="stylesheet" href=" {{'/css/style.css' | url}}">
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body class='{{class}}'>
  <header class="site-header">
    <nav class='site-nav'>
      {% if settings.show_archive %}
      <a href="/projects/">Work</a>
      {% endif %}
      <a class="site-title" href="/">
        <h1>
          {{settings.site_title}}
        </h1>
      </a>
      <a href="/" class="site-title short">
        <h1>
          AL
        </h1>
      </a>
      <a href="/information/">Info</a>
    </nav>
  </header>
  {{ content }}
  <footer class="site-footer">
    <nav class="footer-nav">
      {% for item in settings.footer_menu %}
    <a href="{{item.url}}" {% if item.target == true%}target="_blank"{% endif %}>{{item.title}}</a>
      {% endfor %}
    </nav>
    <nav class="footer-nav-secondary">
      {{settings.copyright_text}}
    </nav>
  </footer>
  <script src="{{'/dist/dist.js' | url}}"></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>