<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

{% if class == "home" %}
<title>{{settings.meta_title}}</title>
{% else %}
<title>{{settings.site_title}}{% if title %} / {{title}}{% endif %}</title>
{% endif %}

<meta property="og:image" content="https://adalbertolonardi.com/{{settings.social_image}}?nf_resize=fit&w=1200">
<meta property="og:title" content="{{settings.site_title}}{% if title %} / {{title}}{% endif %}">
<meta property="og:description" content="{{settings.site_description}}">
<meta property="og:url" content="https://www.adalbertolonardi.com/">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@adalbertolonard">
<meta name="twitter:creator" content="@adalbertolonard">
<meta name="twitter:title" content="{{settings.site_title}}{% if title %} / {{title}}{% endif %}">
<meta name="twitter:description" content="{{settings.site_description}}">
<meta name="twitter:image" content="https://adalbertolonardi.com/{{settings.social_image}}?nf_resize=fit&w=1200">

<meta name="theme-color" content="#fcf8d3">