<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{settings.site_title}}{% if title %} / {{title}}{% endif %}</title>

<meta property="og:image" content="/og-image.jpg">
<meta property="og:title" content="{{settings.site_title}}{% if title %} / {{title}}{% endif %}">
<meta property="og:description" content="{{settings.site_description}}">
<meta property="og:url" content="https://www.adalbertolonardi.com/">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@adalbertolonard">
<meta name="twitter:creator" content="@adalbertolonard">
<meta name="twitter:title" content="{{settings.site_title}}{% if title %} / {{title}}{% endif %}">
<meta name="twitter:description" content="{{settings.site_description}}">
<meta name="twitter:image" content="">

<meta name="theme-color" content="#fcf8d3">
