<li class="project-card" data-tags="{% for t in p.data.tags %}{{t | slug}},{%endfor%}">
    <a href="{{p.url}}">
        <div class='project-card--media'>
            <picture data-caption="" data-full="{{p.data.featured_image.landscape}}">
                <source type="image/webp" srcset="{{p.data.featured_image.landscape | srcset: " webp" }}" />
                <img loading="lazy" src="{{p.data.featured_image.landscape}}"
                    srcset="{{p.data.featured_image.landscape | srcset: " jpg" }}" alt="alt" />
            </picture>
        </div>
        <h2 id="{{p.data.title | slug}}" class='project-card--title'>
            {{p.data.title}} ({{p.data.end_year}})
        </h2>
        <p class="project-card--subtitle">
            {{p.data.subtitle}}
        </p>
    </a>
</li>